extends ../../layouts/default.pug
include ../../mixins/grid-products.pug
block main 
    div(class="slider")
        #carouselExampleAutoplaying.carousel.slide(data-bs-ride='carousel')
            .carousel-inner
                .carousel-item.active
                    img.d-block.w-100(src='https://res.cloudinary.com/dwk6tmsmh/image/upload/v1726925743/bsquy6vj7ktij4aheyzw.jpg' alt='...')
                .carousel-item
                    img.d-block.w-100(src='https://res.cloudinary.com/dwk6tmsmh/image/upload/v1726925866/dclwzzorvxdehvhgorzw.webp' alt='...')
              
            button.carousel-control-prev(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='prev')
                span.carousel-control-prev-icon(aria-hidden='true')
                span.visually-hidden Previous
            button.carousel-control-next(type='button' data-bs-target='#carouselExampleAutoplaying' data-bs-slide='next')
                span.carousel-control-next-icon(aria-hidden='true')
                span.visually-hidden Next
    .container
        section 
            div(class="text-bold mt-3 ms-3 text-center  text-category") Sản phẩm nổi bật
            .row.mt-4
                +grid-products(productsFeatured)
        section
            div(class="text-bold mt-3 ms-3 text-center text-category") Sản phẩm mới
            .row.mt-4
                +grid-products(productsNew)

