extends ../../layouts/default.pug
block main  
    br
    br 
    .row
        .col-sm-3
            .single-item
                .single-item-header
                    a(href='product.html')
                    img(src="/images/aothun.webp " width='250px' height='300px')
                .single-item-body
                    p.single-item-title Áo thun nam
                    p.single-item-price
                        span.price 100.000đ
                        br
                        span.price-payment 80.000đ
                        br
                        span.discount -20%
                .single-item-caption
                    a.add-to-cart.pull-left(href='shopping_cart.html')
                        i.fa.fa-shopping-cart
                    a.beta-btn.primary(href='product.html')
                        | Details 
                        i.fa.fa-chevron-right
                .clearfix
        .col-sm-3
            .single-item
                .single-item-header
                    a(href='product.html')
                    img(src="/images/aothun.webp " width='250px' height='300px')
                .single-item-body
                    p.single-item-title Áo thun nam
                    p.single-item-price
                        span.price 100.000đ
                          br
                        span.price-payment 80.000đ
                        br
                        span.discount -20%
                .single-item-caption
                    a.add-to-cart.pull-left(href='shopping_cart.html')
                        i.fa.fa-shopping-cart
                    a.beta-btn.primary(href='product.html')
                        | Details 
                        i.fa.fa-chevron-right
                .clearfix
        .col-sm-3
            .single-item
                .single-item-header
                    a(href='product.html')
                    img(src="/images/aothun.webp " width='250px' height='300px')
                .single-item-body
                    p.single-item-title Áo thun nam
                    p.single-item-price
                        span.price 100.000đ
                        br
                        span.price-payment 80.000đ
                        br
                        span.discount -20%
                .single-item-caption
                    a.add-to-cart.pull-left(href='shopping_cart.html')
                        i.fa.fa-shopping-cart
                    a.beta-btn.primary(href='product.html')
                        | Details 
                        i.fa.fa-chevron-right
                .clearfix
        .col-sm-3
            .single-item
                .single-item-header
                    a(href='product.html')
                    img(src="/images/aothun.webp " width='250px' height='300px')
                .single-item-body
                    p.single-item-title Áo thun nam
                    p.single-item-price
                        span.price 100.000đ
                        br
                        span.price-payment 80.000đ
                        br
                        span.discount -20%
                .single-item-caption
                    a.add-to-cart.pull-left(href='shopping_cart.html')
                        i.fa.fa-shopping-cart
                    a.beta-btn.primary(href='product.html')
                        | Details 
                        i.fa.fa-chevron-right
                .clearfix
        .col-sm-3
            .single-item
                .single-item-header
                    a(href='product.html')
                    img(src="/images/aothun.webp " width='250px' height='300px')
                .single-item-body
                    p.single-item-title Áo thun nam
                    p.single-item-price
                        span.price 100.000đ
                          br
                        span.price-payment 80.000đ
                        br
                        span.discount -20%
                .single-item-caption
                    a.add-to-cart.pull-left(href='shopping_cart.html')
                        i.fa.fa-shopping-cart
                    a.beta-btn.primary(href='product.html')
                        | Details 
                        i.fa.fa-chevron-right
                .clearfix