extends ../../layouts/default.pug
include ../../mixins/grid-products-category.pug
block main
    section 
        p.page-title Trang chủ / #{pageTitle}
    .body 
        .main 
            .container
                .row 
                    .col-lg-12.col-md-12.col-sm-12
                        h4(class="text-success") #{pageTitle}
                        .row.mt-4
                            +grid-products(products)
