extends ../../layouts/default-2.pug
include ../../mixins/alert.pug
block main 
    +alert-success(3000)
    +alert-error(3000)
    .body-forgotpassword
        form(action="/user/password/forgot" method="post")
            .forgot-password-box
                .forgot-password-header 
                    h3 Tìm tài khoản của bạn
                    p Vui lòng nhập email để tìm kiếm tài khoản của bạn
                .input-box
                    input.input-field(type="text" name="email" autocomplete="off")
                    label(for="email") Email
                .input-box
                    button.input-submit.btn.btn-primary(type="submit") Gửi email xác nhận

