extends ../../layouts/default-2.pug
include ../../mixins/alert.pug
block main 
    +alert-success(3000)
    +alert-error(3000)
    .otp-forgotpassword
        form(action="/user/password/otp" method="post")
            .otp-password-box
                .forgot-password-header.mb-3 
                    h3 Nhập mã OTP xác thực
                .input-box
                    input.input-lock(type="text" name="email" autocomplete="off" value= email required readonly)
                    label.focus(for="email") Email
                .input-box
                    input.input-field(type="text" name="otp" autocomplete="off" required)
                    label(for="otp") Mã OTP
                .input-box
                    button.input-submit.btn.btn-primary(type="submit") Xác nhận 
                .send-otp
                    a(href="send-otp").text-decoration-none.text-danger Gửi lại mã xác nhận

