extends ../../layouts/default-2.pug
include ../../mixins/alert.pug
block main 
    +alert-success(3000)
    +alert-error(3000)
    .otp-forgotpassword
        form(action="/user/password/reset" method="post")
            .otp-password-box
                .forgot-password-header.mb-3 
                    h3 Đổi mật khẩu
                .input-box
                    input.input-field(type="password" name="password" autocomplete="off" required)
                    label(for="password")  Mật khẩu
                .input-box
                    input.input-field(type="password" name="confirmpassword" autocomplete="off" required)
                    label(for="confirmpassword") Xác nhận mật khấu
                .input-box
                    button.input-submit.btn.btn-primary(type="submit") Xác nhận 
                .send-otp
                    a(href="send-otp").text-decoration-none.text-danger Gửi lại mã xác nhận

