mixin sort()
    div(sort)
      div(class="d-flex justify-content-between align-items-center gap-2")
        select(
            name="sort"
            class="form-select"
            sort-select)
            option(value="position-desc") Vị trí giảm dần 
            option(value="position-asc") Vị trí tăng dần
            option(value="price-desc") Giá giảm dần 
            option(value="price-asc") Giá tăng dần  
            option(value="title-asc") Tiêu đề A-Z  
            option(value="title-desc") Tiêu đề Z-A  
        button(
            class="btn btn-danger "
            sort-clear
        ) Clear